[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
flake8 = "*"
black = "*"
codecov = "*"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
drf-yasg = {extras = ["validation"],version = "*"}
whitenoise = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
